/* ========================= 设置底部heart跳动样式动画 =============================== */
.footer .copyright .copyright-year .heart {
    color: #ff7171;
	display: inline-block;
	animation: heartAnimate 1.33s ease-in-out infinite;
}

@keyframes heartAnimate {
	0%, 100% {
    transform: scale(1);
	}

	10%, 30% {
		transform: scale(.9);
	}
	20%, 40%, 60%, 80% {
		transform: scale(1.1);
	}
	50%, 70% {
		transform: scale(1.1);
	}
}

/* ========================= 设置bilibili自适应宽度搞度 =============================== */
.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
  }
  
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

/**/
  .pagination{
    margin:0;   
  } 

/*页面中间颜色及样式*/
 /* .main{
  padding-bottom: 2em;
    background-color: #f8f8fd;
    box-shadow: 0 1px 2px #00000066, 0 0 30px #0a0a001a inset;
}     */

/*页面背景https://oss.1nth.com/images/1nth/tfs/TB1xzbUumBYBeNjy0FeXXbnmFXa-125-121.png 备份地址*/
body{
    background-image: url(https://gw.alicdn.com/tfs/TB1xzbUumBYBeNjy0FeXXbnmFXa-125-121.png);
}

/*鼠标跟随效果*/

    /* .draw {
        position: fixed;
        width: 1px;
        line-height: 1px;
        pointer-events: none;
    }
    @keyframes floatOne {
        0% {
                    opacity:1;
        }
        50% {
                    opacity:1;
        }
        100% {
                    opacity:0;
            transform:translate3D(0, -20px, 0) scale(5) rotate(45deg);
        }
    } */

